{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("cancellationSubmissionConfirmation.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


   <div class="govuk-panel govuk-panel--confirmation">
     <h1 class="govuk-panel__title">
                         {{ messages("cancellationSubmissionConfirmation.heading") }}
             </h1>
               <div class="govuk-panel__body">
               {{ messages("cancellationSubmissionConfirmation.para1")}}
              <strong>{{lrn}}</strong>
            </div>
           </div>

            <h2 class="govuk-heading-m">{{ messages("cancellationSubmissionConfirmation.subHeading") }} </h2>

           <p class="govuk-body"> {{ messages("cancellationSubmissionConfirmation.para2")}}  </p>
           <p class="govuk-body">
           <a id="manage-transit-movements" href="{{ departureList }}" class="govuk-link">
               {{ messages("cancellationSubmissionConfirmation.linkText")}}</a>
           </p>

      </div>
    </div>
  </div>

{% endblock %}
