{% extends "includes/layout.njk" %}

{% from "macros/title.njk"                         import title %}

{% block pageTitle %}
  {{ title(messages("canNotCancel.title")) }}
{% endblock %}

{% block mainContent %}

  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              {{ messages("canNotCancel.heading") }}
            </h1>
            <p class="govuk-body">{{ messages("canNotCancel.declarationNotFound") }}
            <p class="govuk-body">{{ messages("canNotCancel.message") }}
                  <a rel="noreferrer noopener" href={{"https://www.gov.uk/new-computerised-transit-system"}} target="_blank" class="govuk-link">{{messages("canNotCancel.contactLink") }}</a>.</p>

                  <a id="manage-transit-movements" href="{{ departureList }}" class="govuk-link">
                                 {{ messages("canNotCancel.linkText")}}</a>
                             </p>


          </div>
        </div>
  </div>

{% endblock %}
